<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.CrmDepartmentMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.CrmDepartment">
    <id column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="department_Name" jdbcType="VARCHAR" property="departmentName" />
    <result column="department_SqlName" jdbcType="VARCHAR" property="departmentSqlName" />
    <result column="department_createTime" jdbcType="VARCHAR" property="departmentCreatetime" />
    <result column="department_motifyTime" jdbcType="VARCHAR" property="departmentMotifytime" />
  </resultMap>
  <sql id="Base_Column_List">
    department_id, department_Name,department_SqlName, department_createTime, department_motifyTime
  </sql>
  
  <insert id="insert" parameterType="com.atguigu.bean.CrmDepartment">
    insert into tb_crm_department (department_id, department_Name,department_SqlName, department_createTime, 
      department_motifyTime)
    values (#{departmentId,jdbcType=INTEGER}, #{departmentName,jdbcType=VARCHAR},#{departmentSqlName,jdbcType=VARCHAR}, #{departmentCreatetime,jdbcType=VARCHAR}, 
      #{departmentMotifytime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.CrmDepartment">
    update tb_crm_department
    set department_Name = #{departmentName,jdbcType=VARCHAR},
	  department_SqlName = #{departmentSqlName,jdbcType=VARCHAR},
      department_createTime = #{departmentCreatetime,jdbcType=VARCHAR},
      department_motifyTime = #{departmentMotifytime,jdbcType=VARCHAR}
    where department_id = #{departmentId,jdbcType=INTEGER}
  </update>
  
  <!-- insertSelective -->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="departmentId" parameterType="com.atguigu.bean.CrmDepartment">
    insert into tb_crm_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="departmentName != null">
        department_Name,
      </if>
      <if test="departmentSqlName != null">
        department_SqlName,
      </if>
      <if test="departmentCreatetime != null">
        department_createTime,
      </if>
      <if test="departmentMotifytime != null">
        department_motifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="departmentSqlName != null">
        #{departmentSqlName,jdbcType=VARCHAR},
      </if>
      <if test="departmentCreatetime != null">
        #{departmentCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="departmentMotifytime != null">
        #{departmentMotifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- deleteByPrimaryKey -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_crm_department
    where department_id = #{departmentId,jdbcType=INTEGER}
  </delete>
  <!-- updateByPrimaryKeySelective -->
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.CrmDepartment">
    update tb_crm_department
    <set>
      <if test="departmentName != null">
        department_Name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="departmentSqlName != null">
        department_SqlName = #{departmentSqlName,jdbcType=VARCHAR},
      </if>
      <if test="departmentCreatetime != null">
        department_createTime = #{departmentCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="departmentMotifytime != null">
        department_motifyTime = #{departmentMotifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where department_id = #{departmentId,jdbcType=INTEGER}
  </update>
  
  <!-- selectByPrimaryKey -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_crm_department
    where department_id = #{departmentId,jdbcType=INTEGER}
  </select>
  
  <!-- selectCrmDepartmentByParameter -->
  <select id="selectCrmDepartmentByParameter" parameterType="com.atguigu.bean.CrmDepartment" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_crm_department where shopRoom_id > 0
    <if test="departmentName != null">
        and department_Name = #{departmentName,jdbcType=VARCHAR}
    </if>
    order by department_id desc
  </select>
  
  <!-- selectDepartmentInfoAll -->
  <select id="selectDepartmentInfoAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_crm_department order by department_id desc
  </select>
</mapper>