<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.CrmWebanalyticsMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.CrmWebanalytics">
    <id column="webanalytics_id" jdbcType="INTEGER" property="webanalyticsId" />
    <result column="webanalytics_channelName" jdbcType="VARCHAR" property="webanalyticsChannelname" />
    <result column="webanalytics_channelInvestMoney" jdbcType="DECIMAL" property="webanalyticsChannelinvestmoney" />
    <result column="webanalytics_channelintoUserNum" jdbcType="INTEGER" property="webanalyticsChannelintousernum" />
    <result column="webanalytics_channelintoUserNewNum" jdbcType="INTEGER" property="webanalyticsChannelintousernewnum" />
    <result column="webanalytics_channelflowlNum" jdbcType="INTEGER" property="webanalyticsChannelflowlnum" />
    <result column="webanalytics_channelSellNum" jdbcType="INTEGER" property="webanalyticsChannelsellnum" />
    <result column="webanalytics_channelSellMoney" jdbcType="DECIMAL" property="webanalyticsChannelsellmoney" />
    <result column="webanalytics_brandName" jdbcType="VARCHAR" property="webanalyticsBrandname" />
    <result column="webanalytics_createTime" jdbcType="VARCHAR" property="webanalyticsCreatetime" />
    <result column="webanalytics_motifyTime" jdbcType="VARCHAR" property="webanalyticsMotifytime" />
  </resultMap>
  <sql id="Base_Column_List">
    webanalytics_id, webanalytics_channelName, webanalytics_channelInvestMoney, 
    webanalytics_channelintoUserNum, webanalytics_channelintoUserNewNum, webanalytics_channelflowlNum, 
    webanalytics_channelSellNum, webanalytics_channelSellMoney, webanalytics_brandName, 
    webanalytics_createTime, webanalytics_motifyTime
  </sql>
  
  
  <insert id="insert" parameterType="com.atguigu.bean.CrmWebanalytics">
    insert into tb_crm_webanalytics (webanalytics_id, webanalytics_channelName, 
      webanalytics_channelInvestMoney,webanalytics_channelintoUserNum, webanalytics_channelintoUserNewNum, webanalytics_channelflowlNum, 
      webanalytics_channelSellNum, webanalytics_channelSellMoney, 
      webanalytics_brandName, webanalytics_createTime, 
      webanalytics_motifyTime)
    values (#{webanalyticsId,jdbcType=INTEGER}, #{webanalyticsChannelname,jdbcType=VARCHAR}, 
      #{webanalyticsChannelinvestmoney,jdbcType=DECIMAL},#{webanalytics_channelintoUserNum,jdbcType=INTEGER}, 
      #{webanalytics_channelintoUserNewNum,jdbcType=INTEGER}, #{webanalyticsChannelflowlnum,jdbcType=INTEGER}, 
      #{webanalyticsChannelsellnum,jdbcType=INTEGER}, #{webanalyticsChannelsellmoney,jdbcType=DECIMAL}, 
      #{webanalyticsBrandname,jdbcType=VARCHAR}, #{webanalyticsCreatetime,jdbcType=VARCHAR}, 
      #{webanalyticsMotifytime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.CrmWebanalytics">
    update tb_crm_webanalytics
    set webanalytics_channelName = #{webanalyticsChannelname,jdbcType=VARCHAR},
      webanalytics_channelInvestMoney = #{webanalyticsChannelinvestmoney,jdbcType=DECIMAL},
      webanalytics_channelintoUserNum = #{webanalyticsChannelintousernum,jdbcType=INTEGER},
      webanalytics_channelintoUserNewNum = #{webanalyticsChannelintousernewnum,jdbcType=INTEGER},
      webanalytics_channelflowlNum = #{webanalyticsChannelflowlnum,jdbcType=INTEGER},
      webanalytics_channelSellNum = #{webanalyticsChannelsellnum,jdbcType=INTEGER},
      webanalytics_channelSellMoney = #{webanalyticsChannelsellmoney,jdbcType=DECIMAL},
      webanalytics_brandName = #{webanalyticsBrandname,jdbcType=VARCHAR},
      webanalytics_createTime = #{webanalyticsCreatetime,jdbcType=VARCHAR},
      webanalytics_motifyTime = #{webanalyticsMotifytime,jdbcType=VARCHAR}
    where webanalytics_id = #{webanalyticsId,jdbcType=INTEGER}
  </update>
  
  <!-- insertSelective -->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="webanalyticsId" parameterType="com.atguigu.bean.CrmWebanalytics">
    insert into tb_crm_webanalytics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="webanalyticsId != null">
        webanalytics_id,
      </if>
      <if test="webanalyticsChannelname != null">
        webanalytics_channelName,
      </if>
      <if test="webanalyticsChannelinvestmoney != null">
        webanalytics_channelInvestMoney,
      </if>
      <if test="webanalyticsChannelintousernum != null">
        webanalytics_channelintoUserNum,
      </if>
      <if test="webanalyticsChannelintousernewnum != null">
        webanalytics_channelintoUserNewNum,
      </if>
      <if test="webanalyticsChannelflowlnum != null">
        webanalytics_channelflowlNum,
      </if>
      <if test="webanalyticsChannelsellnum != null">
        webanalytics_channelSellNum,
      </if>
      <if test="webanalyticsChannelsellmoney != null">
        webanalytics_channelSellMoney,
      </if>
      <if test="webanalyticsBrandname != null">
        webanalytics_brandName,
      </if>
      <if test="webanalyticsCreatetime != null">
        webanalytics_createTime,
      </if>
      <if test="webanalyticsMotifytime != null">
        webanalytics_motifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="webanalyticsId != null">
        #{webanalyticsId,jdbcType=INTEGER},
      </if>
      <if test="webanalyticsChannelname != null">
        #{webanalyticsChannelname,jdbcType=VARCHAR},
      </if>
      <if test="webanalyticsChannelinvestmoney != null">
        #{webanalyticsChannelinvestmoney,jdbcType=DECIMAL},
      </if>
      <if test="webanalyticsChannelintousernum != null">
        #{webanalyticsChannelintousernum,jdbcType=INTEGER},
      </if>
      <if test="webanalyticsChannelintousernewnum != null">
        #{webanalyticsChannelintousernewnum,jdbcType=INTEGER},
      </if>
      <if test="webanalyticsChannelflowlnum != null">
        #{webanalyticsChannelflowlnum,jdbcType=INTEGER},
      </if>
      <if test="webanalyticsChannelsellnum != null">
        #{webanalyticsChannelsellnum,jdbcType=INTEGER},
      </if>
      <if test="webanalyticsChannelsellmoney != null">
        #{webanalyticsChannelsellmoney,jdbcType=DECIMAL},
      </if>
      <if test="webanalyticsBrandname != null">
        #{webanalyticsBrandname,jdbcType=VARCHAR},
      </if>
      <if test="webanalyticsCreatetime != null">
        #{webanalyticsCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="webanalyticsMotifytime != null">
        #{webanalyticsMotifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- deleteByPrimaryKey -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_crm_webanalytics
    where webanalytics_id = #{webanalyticsId,jdbcType=INTEGER}
  </delete>
  
  <!-- updateByPrimaryKeySelective -->
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.CrmWebanalytics">
    update tb_crm_webanalytics
    <set>
      <if test="webanalyticsChannelname != null">
        webanalytics_channelName = #{webanalyticsChannelname,jdbcType=VARCHAR},
      </if>
      <if test="webanalyticsChannelinvestmoney != null">
        webanalytics_channelInvestMoney = #{webanalyticsChannelinvestmoney,jdbcType=DECIMAL},
      </if>
      <if test="webanalyticsChannelintousernum != null">
        webanalytics_channelintoUserNum = #{webanalyticsChannelintousernum,jdbcType=INTEGER},
      </if>
      <if test="webanalyticsChannelintousernewnum != null">
        webanalytics_channelintoUserNewNum = #{webanalyticsChannelintousernewnum,jdbcType=INTEGER},
      </if>
      <if test="webanalyticsChannelflowlnum != null">
        webanalytics_channelflowlNum = #{webanalyticsChannelflowlnum,jdbcType=INTEGER},
      </if>
      <if test="webanalyticsChannelsellnum != null">
        webanalytics_channelSellNum = #{webanalyticsChannelsellnum,jdbcType=INTEGER},
      </if>
      <if test="webanalyticsChannelsellmoney != null">
        webanalytics_channelSellMoney = #{webanalyticsChannelsellmoney,jdbcType=DECIMAL},
      </if>
      <if test="webanalyticsBrandname != null">
        webanalytics_brandName = #{webanalyticsBrandname,jdbcType=VARCHAR},
      </if>
      <if test="webanalyticsCreatetime != null">
        webanalytics_createTime = #{webanalyticsCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="webanalyticsMotifytime != null">
        webanalytics_motifyTime = #{webanalyticsMotifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where webanalytics_id = #{webanalyticsId,jdbcType=INTEGER}
  </update>
  
  <!-- 查询单条selectByPrimaryKey -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_crm_webanalytics
    where webanalytics_id = #{webanalyticsId,jdbcType=INTEGER}
  </select>
  
   <!-- 查询全部selectAdminInfoAll -->
  <select id="selectCrmWebanalyticsInfoAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_crm_webanalytics order by webanalytics_id desc
  </select>
  
  <!-- 分页查询 -->
  <select id="selectCrmWebanalyticsByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_crm_webanalytics order by webanalytics_id desc
  </select>
  
  <!-- 多条件查询selectCrmAdminByParameter -->
  <select id="selectCrmWebanalyticsByParameter" parameterType="com.atguigu.bean.CrmWebanalytics" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_crm_webanalytics 
    where webanalytics_id > 0 
    <if test="webanalyticsChannelname != null">
      and webanalytics_channelName = #{webanalyticsChannelname,jdbcType=VARCHAR}
    </if>
    <if test="webanalyticsBrandname != null">
      and webanalytics_brandName = #{webanalyticsBrandname,jdbcType=VARCHAR}
    </if>
    <if test="webanalyticsCreatetime != null">
    	<if test="webanalyticsMotifytime != null">
        	and webanalytics_createTime between #{webanalyticsCreatetime,jdbcType=VARCHAR} and #{webanalyticsMotifytime,jdbcType=VARCHAR}
      	</if>
    </if>
    order by webanalytics_id desc
  </select>
  
  <!-- 多条件查询selectCrmWebanalyticsByBrand -->
  <select id="selectCrmWebanalyticsByBrand" parameterType="com.atguigu.bean.CrmWebanalytics" resultMap="BaseResultMap">
	  SELECT webanalytics_channelName ,webanalytics_brandName
		FROM tb_crm_webanalytics 
		WHERE webanalytics_brandName = #{webanalyticsBrandname,jdbcType=VARCHAR}
		GROUP BY webanalytics_channelName
  </select>
</mapper>