<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.EmailPaySuccessMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.EmailPaySuccess">
    <id column="paysuccess_id" jdbcType="INTEGER" property="paysuccessId" />
    <result column="paysuccess_email" jdbcType="VARCHAR" property="paysuccessEmail" />
  </resultMap>
  <sql id="Base_Column_List">
    paysuccess_id, paysuccess_email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_email_paysuccess
    where paysuccess_id = #{paysuccessId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_email_paysuccess
    where paysuccess_id = #{paysuccessId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.EmailPaySuccess">
    insert into tb_email_paysuccess (paysuccess_id, paysuccess_email)
    values (#{paysuccessId,jdbcType=INTEGER}, #{paysuccessEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="paysuccessId"  parameterType="com.atguigu.bean.EmailPaySuccess">
    insert into tb_email_paysuccess
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paysuccessId != null">
        paysuccess_id,
      </if>
      <if test="paysuccessEmail != null">
        paysuccess_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paysuccessId != null">
        #{paysuccessId,jdbcType=INTEGER},
      </if>
      <if test="paysuccessEmail != null">
        #{paysuccessEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.EmailPaySuccess">
    update tb_email_paysuccess
    <set>
      <if test="paysuccessEmail != null">
        paysuccess_email = #{paysuccessEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where paysuccess_id = #{paysuccessId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.EmailPaySuccess">
    update tb_email_paysuccess
    set paysuccess_email = #{paysuccessEmail,jdbcType=VARCHAR}
    where paysuccess_id = #{paysuccessId,jdbcType=INTEGER}
  </update>
  
  <!-- selectByEmail -->
  <select id="selectByEmail" parameterType="com.atguigu.bean.EmailPaySuccess" resultMap="BaseResultMap">
    select * 
    from tb_email_paysuccess
    where paysuccess_email = #{paysuccessEmail,jdbcType=VARCHAR}
  </select>

  <!-- selectALl -->
  <select id="selectALl" parameterType="com.atguigu.bean.EmailPaySuccess" resultMap="BaseResultMap">
    select * 
    from tb_email_paysuccess GROUP BY paysuccess_email
  </select>
</mapper>