<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.EmailUserMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.EmailUser">
    <id column="userEmail_id" jdbcType="INTEGER" property="useremailId" />
    <result column="userEmail_email" jdbcType="VARCHAR" property="useremailEmail" />
  </resultMap>
  <sql id="Base_Column_List">
    userEmail_id, userEmail_email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_email_user
    where userEmail_id = #{useremailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_email_user
    where userEmail_id = #{useremailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.EmailUser">
    insert into tb_email_user (userEmail_id, userEmail_email)
    values (#{useremailId,jdbcType=INTEGER}, #{useremailEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="useremailId"  parameterType="com.atguigu.bean.EmailUser">
    insert into tb_email_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="useremailId != null">
        userEmail_id,
      </if>
      <if test="useremailEmail != null">
        userEmail_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="useremailId != null">
        #{useremailId,jdbcType=INTEGER},
      </if>
      <if test="useremailEmail != null">
        #{useremailEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.EmailUser">
    update tb_email_user
    <set>
      <if test="useremailEmail != null">
        userEmail_email = #{useremailEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where userEmail_id = #{useremailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.EmailUser">
    update tb_email_user
    set userEmail_email = #{useremailEmail,jdbcType=VARCHAR}
    where userEmail_id = #{useremailId,jdbcType=INTEGER}
  </update>
  
  <!-- selectByEmail -->
  <select id="selectByEmail" parameterType="com.atguigu.bean.EmailUser" resultMap="BaseResultMap">
    select * 
    from tb_email_user
    where userEmail_email = #{useremailEmail,jdbcType=VARCHAR}
  </select>
  
  <!-- selectALl -->
  <select id="selectALl" parameterType="com.atguigu.bean.EmailUser" resultMap="BaseResultMap">
    select * 
    from tb_email_user GROUP BY userEmail_email
  </select>
  
</mapper>