<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.ShareVideoInfoMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.ShareVideoInfo">
    <id column="tb_share_videoinfo_id" jdbcType="INTEGER" property="tbShareVideoinfoId" />
    <result column="tb_share_videoinfo_type" jdbcType="INTEGER" property="tbShareVideoinfoType" />
    <result column="tb_share_videoinfo_name" jdbcType="VARCHAR" property="tbShareVideoinfoName" />
    <result column="tb_share_videoinfo_videourl" jdbcType="VARCHAR" property="tbShareVideoinfoVideourl" />
    <result column="tb_share_videoinfo_videoimgurl" jdbcType="VARCHAR" property="tbShareVideoinfoVideoimgurl" />
    <result column="tb_share_videoinfo_parentid" jdbcType="INTEGER" property="tbShareVideoinfoParentid" />
    <result column="tb_share_videoinfo_parentname" jdbcType="VARCHAR" property="tbShareVideoinfoParentname" />
    <result column="tb_share_videoinfo_desc" jdbcType="VARCHAR" property="tbShareVideoinfoDesc" />
    <result column="tb_share_videoinfo_titleOrig" jdbcType="VARCHAR" property="tbShareVideoinfoTitleorig" />
    <result column="tb_share_videoinfo_titleAlter" jdbcType="VARCHAR" property="tbShareVideoinfoTitlealter" />
    <result column="tb_share_videoinfo_size" jdbcType="VARCHAR" property="tbShareVideoinfoSize" />
    <result column="tb_share_videoinfo_videotype" jdbcType="VARCHAR" property="tbShareVideoinfoVideotype" />
    <result column="tb_share_videoinfo_path" jdbcType="VARCHAR" property="tbShareVideoinfoPath" />
    <result column="tb_share_videoinfo_imgcreateTime" jdbcType="VARCHAR" property="tbShareVideoinfoImgcreatetime" />
    <result column="tb_share_videoinfo_createTime" jdbcType="VARCHAR" property="tbShareVideoinfoCreatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    tb_share_videoinfo_id, tb_share_videoinfo_type, tb_share_videoinfo_name, tb_share_videoinfo_videourl, 
    tb_share_videoinfo_videoimgurl, tb_share_videoinfo_parentid, tb_share_videoinfo_parentname, 
    tb_share_videoinfo_desc, tb_share_videoinfo_titleOrig, tb_share_videoinfo_titleAlter, 
    tb_share_videoinfo_size, tb_share_videoinfo_videotype, tb_share_videoinfo_path, tb_share_videoinfo_imgcreateTime, 
    tb_share_videoinfo_createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_share_videoinfo
    where tb_share_videoinfo_id = #{tbShareVideoinfoId,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.atguigu.bean.ShareVideoInfo">
    insert into tb_share_videoinfo (tb_share_videoinfo_id, tb_share_videoinfo_type, 
      tb_share_videoinfo_name, tb_share_videoinfo_videourl, 
      tb_share_videoinfo_videoimgurl, tb_share_videoinfo_parentid, 
      tb_share_videoinfo_parentname, tb_share_videoinfo_desc, 
      tb_share_videoinfo_titleOrig, tb_share_videoinfo_titleAlter, 
      tb_share_videoinfo_size, tb_share_videoinfo_videotype, 
      tb_share_videoinfo_path, tb_share_videoinfo_imgcreateTime, 
      tb_share_videoinfo_createTime)
    values (#{tbShareVideoinfoId,jdbcType=INTEGER}, #{tbShareVideoinfoType,jdbcType=INTEGER}, 
      #{tbShareVideoinfoName,jdbcType=VARCHAR}, #{tbShareVideoinfoVideourl,jdbcType=VARCHAR}, 
      #{tbShareVideoinfoVideoimgurl,jdbcType=VARCHAR}, #{tbShareVideoinfoParentid,jdbcType=INTEGER}, 
      #{tbShareVideoinfoParentname,jdbcType=VARCHAR}, #{tbShareVideoinfoDesc,jdbcType=VARCHAR}, 
      #{tbShareVideoinfoTitleorig,jdbcType=VARCHAR}, #{tbShareVideoinfoTitlealter,jdbcType=VARCHAR}, 
      #{tbShareVideoinfoSize,jdbcType=VARCHAR}, #{tbShareVideoinfoVideotype,jdbcType=VARCHAR}, 
      #{tbShareVideoinfoPath,jdbcType=VARCHAR}, #{tbShareVideoinfoImgcreatetime,jdbcType=VARCHAR}, 
      #{tbShareVideoinfoCreatetime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.ShareVideoInfo">
    update tb_share_videoinfo
    set tb_share_videoinfo_type = #{tbShareVideoinfoType,jdbcType=INTEGER},
      tb_share_videoinfo_name = #{tbShareVideoinfoName,jdbcType=VARCHAR},
      tb_share_videoinfo_videourl = #{tbShareVideoinfoVideourl,jdbcType=VARCHAR},
      tb_share_videoinfo_videoimgurl = #{tbShareVideoinfoVideoimgurl,jdbcType=VARCHAR},
      tb_share_videoinfo_parentid = #{tbShareVideoinfoParentid,jdbcType=INTEGER},
      tb_share_videoinfo_parentname = #{tbShareVideoinfoParentname,jdbcType=VARCHAR},
      tb_share_videoinfo_desc = #{tbShareVideoinfoDesc,jdbcType=VARCHAR},
      tb_share_videoinfo_titleOrig = #{tbShareVideoinfoTitleorig,jdbcType=VARCHAR},
      tb_share_videoinfo_titleAlter = #{tbShareVideoinfoTitlealter,jdbcType=VARCHAR},
      tb_share_videoinfo_size = #{tbShareVideoinfoSize,jdbcType=VARCHAR},
      tb_share_videoinfo_videotype = #{tbShareVideoinfoVideotype,jdbcType=VARCHAR},
      tb_share_videoinfo_path = #{tbShareVideoinfoPath,jdbcType=VARCHAR},
      tb_share_videoinfo_imgcreateTime = #{tbShareVideoinfoImgcreatetime,jdbcType=VARCHAR},
      tb_share_videoinfo_createTime = #{tbShareVideoinfoCreatetime,jdbcType=VARCHAR}
    where tb_share_videoinfo_id = #{tbShareVideoinfoId,jdbcType=INTEGER}
  </update>
  <!-- insertSelective -->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="tbShareVideoinfoId"  parameterType="com.atguigu.bean.ShareVideoInfo">
    insert into tb_share_videoinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tbShareVideoinfoId != null">
        tb_share_videoinfo_id,
      </if>
      <if test="tbShareVideoinfoType != null">
        tb_share_videoinfo_type,
      </if>
      <if test="tbShareVideoinfoName != null">
        tb_share_videoinfo_name,
      </if>
      <if test="tbShareVideoinfoVideourl != null">
        tb_share_videoinfo_videourl,
      </if>
      <if test="tbShareVideoinfoVideoimgurl != null">
        tb_share_videoinfo_videoimgurl,
      </if>
      <if test="tbShareVideoinfoParentid != null">
        tb_share_videoinfo_parentid,
      </if>
      <if test="tbShareVideoinfoParentname != null">
        tb_share_videoinfo_parentname,
      </if>
      <if test="tbShareVideoinfoDesc != null">
        tb_share_videoinfo_desc,
      </if>
      <if test="tbShareVideoinfoTitleorig != null">
        tb_share_videoinfo_titleOrig,
      </if>
      <if test="tbShareVideoinfoTitlealter != null">
        tb_share_videoinfo_titleAlter,
      </if>
      <if test="tbShareVideoinfoSize != null">
        tb_share_videoinfo_size,
      </if>
      <if test="tbShareVideoinfoVideotype != null">
        tb_share_videoinfo_videotype,
      </if>
      <if test="tbShareVideoinfoPath != null">
        tb_share_videoinfo_path,
      </if>
      <if test="tbShareVideoinfoImgcreatetime != null">
        tb_share_videoinfo_imgcreateTime,
      </if>
      <if test="tbShareVideoinfoCreatetime != null">
        tb_share_videoinfo_createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tbShareVideoinfoId != null">
        #{tbShareVideoinfoId,jdbcType=INTEGER},
      </if>
      <if test="tbShareVideoinfoType != null">
        #{tbShareVideoinfoType,jdbcType=INTEGER},
      </if>
      <if test="tbShareVideoinfoName != null">
        #{tbShareVideoinfoName,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoVideourl != null">
        #{tbShareVideoinfoVideourl,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoVideoimgurl != null">
        #{tbShareVideoinfoVideoimgurl,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoParentid != null">
        #{tbShareVideoinfoParentid,jdbcType=INTEGER},
      </if>
      <if test="tbShareVideoinfoParentname != null">
        #{tbShareVideoinfoParentname,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoDesc != null">
        #{tbShareVideoinfoDesc,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoTitleorig != null">
        #{tbShareVideoinfoTitleorig,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoTitlealter != null">
        #{tbShareVideoinfoTitlealter,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoSize != null">
        #{tbShareVideoinfoSize,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoVideotype != null">
        #{tbShareVideoinfoVideotype,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoPath != null">
        #{tbShareVideoinfoPath,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoImgcreatetime != null">
        #{tbShareVideoinfoImgcreatetime,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoCreatetime != null">
        #{tbShareVideoinfoCreatetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- updateByPrimaryKeySelective -->
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.ShareVideoInfo">
    update tb_share_videoinfo
    <set>
      <if test="tbShareVideoinfoType != null">
        tb_share_videoinfo_type = #{tbShareVideoinfoType,jdbcType=INTEGER},
      </if>
      <if test="tbShareVideoinfoName != null">
        tb_share_videoinfo_name = #{tbShareVideoinfoName,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoVideourl != null">
        tb_share_videoinfo_videourl = #{tbShareVideoinfoVideourl,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoVideoimgurl != null">
        tb_share_videoinfo_videoimgurl = #{tbShareVideoinfoVideoimgurl,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoParentid != null">
        tb_share_videoinfo_parentid = #{tbShareVideoinfoParentid,jdbcType=INTEGER},
      </if>
      <if test="tbShareVideoinfoParentname != null">
        tb_share_videoinfo_parentname = #{tbShareVideoinfoParentname,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoDesc != null">
        tb_share_videoinfo_desc = #{tbShareVideoinfoDesc,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoTitleorig != null">
        tb_share_videoinfo_titleOrig = #{tbShareVideoinfoTitleorig,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoTitlealter != null">
        tb_share_videoinfo_titleAlter = #{tbShareVideoinfoTitlealter,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoSize != null">
        tb_share_videoinfo_size = #{tbShareVideoinfoSize,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoVideotype != null">
        tb_share_videoinfo_videotype = #{tbShareVideoinfoVideotype,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoPath != null">
        tb_share_videoinfo_path = #{tbShareVideoinfoPath,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoImgcreatetime != null">
        tb_share_videoinfo_imgcreateTime = #{tbShareVideoinfoImgcreatetime,jdbcType=VARCHAR},
      </if>
      <if test="tbShareVideoinfoCreatetime != null">
        tb_share_videoinfo_createTime = #{tbShareVideoinfoCreatetime,jdbcType=VARCHAR},
      </if>
    </set>
    where tb_share_videoinfo_id = #{tbShareVideoinfoId,jdbcType=INTEGER}
  </update>
  <!-- deleteByPrimaryKey -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_share_videoinfo
    where tb_share_videoinfo_id = #{tbShareVideoinfoId,jdbcType=INTEGER}
  </delete>
  <!-- 使用中selectShareVideoInfolistByPid -->
  <select id="selectShareVideoInfolistByPid" parameterType="com.atguigu.bean.ShareVideoInfo" resultMap="BaseResultMap">
  	select 
  	tb_share_videoinfo_id, tb_share_videoinfo_type, tb_share_videoinfo_name, tb_share_videoinfo_videourl, 
    tb_share_videoinfo_videoimgurl, tb_share_videoinfo_parentid, tb_share_videoinfo_parentname, 
    tb_share_videoinfo_desc, tb_share_videoinfo_titleOrig, tb_share_videoinfo_titleAlter, 
    tb_share_videoinfo_size, tb_share_videoinfo_videotype, tb_share_videoinfo_path, tb_share_videoinfo_imgcreateTime, 
    tb_share_videoinfo_createTime
  	from tb_share_videoinfo where tb_share_videoinfo_parentid = #{tbShareVideoinfoParentid,jdbcType=INTEGER} 
  	order by tb_share_videoinfo_type , tb_share_videoinfo_parentid
  </select>
  
  <!-- 使用中selectShareVideoInfolistAll -->
  <select id="selectShareVideoInfolistAll" parameterType="com.atguigu.bean.ShareVideoInfo" resultMap="BaseResultMap">
  	select 
  	tb_share_videoinfo_id, tb_share_videoinfo_type, tb_share_videoinfo_name, tb_share_videoinfo_videourl
  	from tb_share_videoinfo where tb_share_videoinfo_type = 0 
  	order by tb_share_videoinfo_type , tb_share_videoinfo_parentid
  </select>
  
</mapper>