<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.ShareImageInfoMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.ShareImageInfo">
    <id column="tb_share_imageinfo_id" jdbcType="INTEGER" property="tbShareImageinfoId" />
    <result column="tb_share_imageinfo_type" jdbcType="INTEGER" property="tbShareImageinfoType" />
    <result column="tb_share_imageinfo_name" jdbcType="VARCHAR" property="tbShareImageinfoName" />
    <result column="tb_share_imageinfo_url" jdbcType="VARCHAR" property="tbShareImageinfoUrl" />
    <result column="tb_share_imageinfo_parentid" jdbcType="INTEGER" property="tbShareImageinfoParentid" />
    <result column="tb_share_imageinfo_parentname" jdbcType="VARCHAR" property="tbShareImageinfoParentname" />
    <result column="tb_share_imageinfo_desc" jdbcType="VARCHAR" property="tbShareImageinfoDesc" />
    <result column="tb_share_imageinfo_createTime" jdbcType="VARCHAR" property="tbShareImageinfoCreatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    tb_share_imageinfo_id, tb_share_imageinfo_type, tb_share_imageinfo_name, tb_share_imageinfo_url, 
    tb_share_imageinfo_parentid, tb_share_imageinfo_parentname, tb_share_imageinfo_desc, 
    tb_share_imageinfo_createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_share_imageinfo
    where tb_share_imageinfo_id = #{tbShareImageinfoId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.atguigu.bean.ShareImageInfo">
    insert into tb_share_imageinfo (tb_share_imageinfo_id, tb_share_imageinfo_type, 
      tb_share_imageinfo_name, tb_share_imageinfo_url, 
      tb_share_imageinfo_parentid, tb_share_imageinfo_parentname, 
      tb_share_imageinfo_desc, tb_share_imageinfo_createTime
      )
    values (#{tbShareImageinfoId,jdbcType=INTEGER}, #{tbShareImageinfoType,jdbcType=INTEGER}, 
      #{tbShareImageinfoName,jdbcType=VARCHAR}, #{tbShareImageinfoUrl,jdbcType=VARCHAR}, 
      #{tbShareImageinfoParentid,jdbcType=INTEGER}, #{tbShareImageinfoParentname,jdbcType=VARCHAR}, 
      #{tbShareImageinfoDesc,jdbcType=VARCHAR}, #{tbShareImageinfoCreatetime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.ShareImageInfo">
    update tb_share_imageinfo
    set tb_share_imageinfo_type = #{tbShareImageinfoType,jdbcType=INTEGER},
      tb_share_imageinfo_name = #{tbShareImageinfoName,jdbcType=VARCHAR},
      tb_share_imageinfo_url = #{tbShareImageinfoUrl,jdbcType=VARCHAR},
      tb_share_imageinfo_parentid = #{tbShareImageinfoParentid,jdbcType=INTEGER},
      tb_share_imageinfo_parentname = #{tbShareImageinfoParentname,jdbcType=VARCHAR},
      tb_share_imageinfo_desc = #{tbShareImageinfoDesc,jdbcType=VARCHAR},
      tb_share_imageinfo_createTime = #{tbShareImageinfoCreatetime,jdbcType=VARCHAR}
    where tb_share_imageinfo_id = #{tbShareImageinfoId,jdbcType=INTEGER}
  </update>
  <!-- insertSelective -->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="tbShareImageinfoId" parameterType="com.atguigu.bean.ShareImageInfo">
    insert into tb_share_imageinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tbShareImageinfoId != null">
        tb_share_imageinfo_id,
      </if>
      <if test="tbShareImageinfoType != null">
        tb_share_imageinfo_type,
      </if>
      <if test="tbShareImageinfoName != null">
        tb_share_imageinfo_name,
      </if>
      <if test="tbShareImageinfoUrl != null">
        tb_share_imageinfo_url,
      </if>
      <if test="tbShareImageinfoParentid != null">
        tb_share_imageinfo_parentid,
      </if>
      <if test="tbShareImageinfoParentname != null">
        tb_share_imageinfo_parentname,
      </if>
      <if test="tbShareImageinfoDesc != null">
        tb_share_imageinfo_desc,
      </if>
      <if test="tbShareImageinfoCreatetime != null">
        tb_share_imageinfo_createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tbShareImageinfoId != null">
        #{tbShareImageinfoId,jdbcType=INTEGER},
      </if>
      <if test="tbShareImageinfoType != null">
        #{tbShareImageinfoType,jdbcType=INTEGER},
      </if>
      <if test="tbShareImageinfoName != null">
        #{tbShareImageinfoName,jdbcType=VARCHAR},
      </if>
      <if test="tbShareImageinfoUrl != null">
        #{tbShareImageinfoUrl,jdbcType=VARCHAR},
      </if>
      <if test="tbShareImageinfoParentid != null">
        #{tbShareImageinfoParentid,jdbcType=INTEGER},
      </if>
      <if test="tbShareImageinfoParentname != null">
        #{tbShareImageinfoParentname,jdbcType=VARCHAR},
      </if>
      <if test="tbShareImageinfoDesc != null">
        #{tbShareImageinfoDesc,jdbcType=VARCHAR},
      </if>
      <if test="tbShareImageinfoCreatetime != null">
        #{tbShareImageinfoCreatetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- deleteByPrimaryKey -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_share_imageinfo
    where tb_share_imageinfo_id = #{tbShareImageinfoId,jdbcType=INTEGER}
  </delete>
  <!-- updateByPrimaryKeySelective -->
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.ShareImageInfo">
    update tb_share_imageinfo
    <set>
      <if test="tbShareImageinfoType != null">
        tb_share_imageinfo_type = #{tbShareImageinfoType,jdbcType=INTEGER},
      </if>
      <if test="tbShareImageinfoName != null">
        tb_share_imageinfo_name = #{tbShareImageinfoName,jdbcType=VARCHAR},
      </if>
      <if test="tbShareImageinfoUrl != null">
        tb_share_imageinfo_url = #{tbShareImageinfoUrl,jdbcType=VARCHAR},
      </if>
      <if test="tbShareImageinfoParentid != null">
        tb_share_imageinfo_parentid = #{tbShareImageinfoParentid,jdbcType=INTEGER},
      </if>
      <if test="tbShareImageinfoParentname != null">
        tb_share_imageinfo_parentname = #{tbShareImageinfoParentname,jdbcType=VARCHAR},
      </if>
      <if test="tbShareImageinfoDesc != null">
        tb_share_imageinfo_desc = #{tbShareImageinfoDesc,jdbcType=VARCHAR},
      </if>
      <if test="tbShareImageinfoCreatetime != null">
        tb_share_imageinfo_createTime = #{tbShareImageinfoCreatetime,jdbcType=VARCHAR},
      </if>
    </set>
    where tb_share_imageinfo_id = #{tbShareImageinfoId,jdbcType=INTEGER}
  </update>
  
  <!-- 使用中selectCategorylistByParam -->
  <select id="selectShareImageInfolistByPid" parameterType="com.atguigu.bean.ShareImageInfo" resultMap="BaseResultMap">
  	select 
  	tb_share_imageinfo_id, tb_share_imageinfo_type, tb_share_imageinfo_name, tb_share_imageinfo_url, 
    tb_share_imageinfo_parentid, tb_share_imageinfo_parentname, tb_share_imageinfo_desc, tb_share_imageinfo_createTime 
  	from tb_share_imageinfo where tb_share_imageinfo_parentid = #{tbShareImageinfoParentid,jdbcType=INTEGER} 
  	order by tb_share_imageinfo_type , tb_share_imageinfo_parentid
  </select>
  
</mapper>